<!-- <mat-toolbar color="primary"> Frequently Asked Questions</mat-toolbar> -->
<div class="span-with-line">
    <h2>
        <i class="icon-Line">I</i> &nbsp;&nbsp;Frequently Asked Questions
    </h2>
    <p class="lead desc">
        Learning Experience
    </p>
</div>
<mat-accordion [displayMode]="displayMode" [multi]="multi"
    class="faq-container">

    <mat-expansion-panel *ngFor="let faqItem of faqList">

        <mat-expansion-panel-header>{{faqItem.question}}</mat-expansion-panel-header>
        <p>{{faqItem.answer}}</p>

    </mat-expansion-panel>
</mat-accordion>
<div class="container">
    <div class="footer">
        <div class="first">
            <span>
                <h4>creativewebo</h4>
                <p>CreativeWebo is a mumbai based digital agency.We are equipped with cutting edge technologies to empower business online.Our solutions ensure a comprehensive digital transformation of your brand.we use multiple channels are proven strategies to provide you with the best in class digital solutions.</p>
            </span>
        </div>
       
        <div class="second">
            <h4><span>Quick Links</span></h4>
            <ul class="list">
                <li class="item active">
                   <a href="">Home</a> 
                </li>
                <li class="item active">
                    <a href="">Services</a> 
                 </li>
                 <li class="item active">
                    <a href="">Solutions</a> 
                 </li>
                 <li class="item active">
                    <a href="">Career</a> 
                 </li>
                 <li class="item active">
                    <a href="">Case Studies</a> 
                 </li>
                 <li class="item active">
                    <a href="">Blog</a> 
                 </li>
                 <li class="item active">
                    <a href="">Contact Us</a> 
                 </li>
                 <li class="item active">
                    <a href="#">Sitemap</a> 
                 </li>
            </ul>
        </div>
        
            <div class="third">
                <h4><span>Mumbai</span></h4>
                <ul class="list">
                    <li class="item active">
                      <a href=""> +919004480375 /+918928309813</a> 
                    </li>
                    <li class="item active">
                        <a href="">Info@Creativewebo.Com</a> 
                     </li>
                     <li class="item active">
                        <a href="">1805, Haware Infotech Park, Vashi, Navi Mumbai - 400703</a> 
                     </li>
                </ul>
            </div>
           
            <div class="fourth">
                <h4><span>Toronto,Canada</span></h4>
                <ul class="list">
                    <li class="item active">
                      <a href=""> +1 647-948-9165</a> 
                    </li>
                    <li class="item active">
                        <a href="">30 Eglinton West Commercial Center, Mississauga, Ontario L5R 3E7</a> 
                     </li>
                </ul>
            </div>
           
        <div class="fifth">
            <h4><span>Pune</span></h4>
            <ul class="list">
                <li class="item active">
                  <a href="">+918879102729</a> 
                </li>
                <li class="item active">
                    <a href="">Tupe Patil Road, Amanora Park Town, Hadapsar, Pune, Maharashtra 411028</a> 
                 </li>
            </ul>
        </div>
        
        <div class="sixtth">
            <h4><span>Locations</span></h4>
            <ul class="list">
                <li class="item active">
                  <a href="">Mumbai</a> 
                </li>
                <li class="item active">
                    <a href="">Pune</a> 
                 </li>
                 <li class="item active">
                    <a href="">Toronto</a> 
                 </li>
                 <li class="item active">
                    <a href="">Dubai</a> 
                 </li>
            </ul>
        </div>
        
        <div class="seven">
            <h4><span>Follow Us</span></h4>
            <ul class="list">
                <li class="item active">
                  <a href="">Mumbai</a> 
                </li>
                <li class="item active">
                    <a href="">Pune</a> 
                 </li>
                 <li class="item active">
                    <a href="">Toronto</a> 
                 </li>
                 <li class="item active">
                    <a href="">Dubai</a> 
                 </li>
            </ul>
        </div>
    </div>

</div>