// .grid{
//     display:grid;
//     grid-template-columns: auto auto auto;
   
//     margin: 10px;
    

//     //padding-left: 5px;
// }
.label{
    font-size: 23px;
   
}
.card1{
    height: 100%; 
}
.card2{
    height: 100%; 
}
.card3{
    height: 100%; 
}
.card4{
    height: 100%; 
}
.card5{
    height: 100%; 
}
.card6{
    height: 100%; 
}
.card1:hover{
    transition: opacity 0.5s;
    //transition-delay: 1s;
    //filter: brightness(50%);
    height: 100%;
    
    background-image: url(../../../assets/images/software.jpg);
}
.card2:hover{
    transition: opacity 0.5s;
    
// filter: brightness(50%);
    background-image: url(../../../assets/images/iphone-410324_640.jpg);
}
.card3:hover{
    transition: opacity 0.5s;
    //transition-delay: 1s;
    //filter: brightness(50%);
    background-image: url(../../../assets/images/software.jpg);
}
.card4:hover{
    transition: opacity 0.5s;
    //transition-delay: 1s;
    //filter: brightness(50%);
    background-image: url(../../../assets/images/e-commerce.jpg);
}
.card5:hover{
    transition: opacity 0.5s;
    //transition-delay: 1s;
    //filter: brightness(50%);
    background-image: url(../../../assets/images/manage.jpg);
}
.card6:hover{
    transition: opacity 0.5s;
    //transition-delay: 1s;
    //filter: brightness(50%);
    background-image: url(../../../assets/images/software.jpg);
}

.serve{
    font-size: 15px;
    opacity:0.7
}
.services{
    font-size: 15px;
    
}

