.card{
  
     background-color:black;
    max-width: 500px;
    width: 100%;
    margin-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
}
.heading{
    font-family: "Montserrat",sans-serif;;
    font-weight: bold;
    line-height: 1.2;
    color: white;
    text-align: center;
    
}
.submit{
  display: flex;
  justify-content: center;  
}

.card h2{
    font-size: 24px;
    margin-bottom: 10px;
}
.label{
    filter: contrast(25%);
}
.line{
    line-height: 2px;
    color: white;
}


// .newuser{
//     margin-left: 500px;
// }
// .example-form{
//     max-width: 200px;
//     margin-left: 300px;
// }

// .example-full-width{
//     //max-width: px;
//     margin: auto;
//     width: 350px;
// }

// h2{
//     text-align: center;
//     margin-left: 250px;
// }

// mat-card{
//     max-width: 800px;
//     margin-left: 300px;
//     margin-top: 50px;
//     background-color: black;
// }

// div{
//     margin-top: 50px;
//     display: flex;
//     column-gap: 20px;
//     width:500px
// }
