<div class="card">
    <h2 class="heading">Book an Appointment</h2>
    <div class="row align-items-center">
        <form #appoinmentForm="ngForm" (ngSubmit)="onSubmit(appoinmentForm)" >
            <div class="form-group">
                <label for="fullName" class="label">Full Name</label>
                <input type="text" id="fullName" name="fullName" class="form-control-plaintext" ngModel required><hr class="line">
            </div>
            <div class="form-group">
                <label for="email" class="label">Email</label>
                <input type="email" id="email" name="email" class="form-control-plaintext" ngModel required><hr class="line">
            </div>
            <div class="form-group">
                <label for="phoneNumber" class="label">Phone Number</label>
                <input type="tel" id="phoneNumber" name="phoneNumber" class="form-control-plaintext" ngModel required><hr class="line">
            </div>
            <div class="form-group">
                <label for="message" class="label">Message</label>
                <textarea  id="message" name="message" class="form-control-plaintext" ngModel required></textarea><hr class="line">
            </div>
            <div class="form-group">
                <label for="captcha" class="label">CAPTCHA</label>
                <input type="text" id="captcha" name="captcha" class="form-control-plaintext" ngModel required><hr class="line">
            </div>
            <div  style="text-align: center;" class="col-lg-12 col-md-6 my-3">
                <button type="submit" class="btn btn-danger">Submit</button>
            </div>
           
           
        </form>
    
    </div>
    
</div>
<!-- <form class="example-form" [formGroup]="myForm" (ngSubmit)="onSubmit()" >
    <mat-form-field class="example-full-width">
      <mat-label>Full Name</mat-label>
      <input type="text" matInput formControlName="fullName" placeholder="Ex. pat@example.com">
       <mat-error *ngIf="myForm.get('fullName').hasError('required')">
        Full Name is <strong>required</strong>
      </mat-error> -->
    <!-- </mat-form-field>
  </form>
    -->

